.metric-title {
    margin: 16px 0;
    text-align: center;
}

.left-align {
    text-align: left;
    margin-left: 48px;
}

.mini-logo {
    width: 20vh;
    margin: 25px auto;
}

.center-align {
    text-align: center;
}

.max-w-70 {
    max-width: 70%;
    margin: 18px auto;
}

.margin-w-auto {
    margin: auto;
}

.margin-h-12 {
    margin-top: 12px;
}